<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="24"
    android:versionName="24.0"
    package="com.app360.app360">
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_ACTIVITY_STACKS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACTIVITY_STACKS"/>
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19"/>
    <uses-feature
        android:glEsVersion="0x20000"
        android:required="true"/>
    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true">
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposedminversion"
            android:value="2.1*"/>
        <meta-data
            android:name="xposeddescription"
            android:value="@string/app_description"/>
        <activity
            android:label="@string/app_name"
            android:name="com.nitro888.nitroaction360.MainActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.nitro888.nitroaction360.SelectorActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="com.google.intent.category.CARDBOARD"/>
            </intent-filter>
        </activity>
        <activity android:name="com.hmct.screencapture.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:name="com.nibiru.lib.controller.VRTipActivity"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:name="com.nibiru.lib.controller.InfoActivity"
            android:configChanges="screenSize|screenLayout|orientation"/>
        <service
            android:name="com.nibiru.lib.utils.NibiruControllerService"
            android:process=":controller">
            <intent-filter>
                <action android:name="com.nibiru.controller.service"/>
            </intent-filter>
        </service>
        <service
            android:name="com.hmct.screencapture.FloatingWindowService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.hmct.vrmode.off"/>
                <action android:name="com.hmct.vrmode.on"/>
            </intent-filter>
        </service>
    </application>
</manifest>
